<a href="?lineprofiler=true">Profile</a>
<div class="peek-dropdown">
  <ul>
    <li><a href="?lineprofiler=app">app</a></li>
    <li><a href="?lineprofiler=gems">gems</a></li>
    <li><a href="?lineprofiler=stdlib">stdlib</a></li>
  </ul>
</div>
